<br><br>
<body class="inbd">

    <div class="p-grid p-card-body">
        <div class="p-col-12 p-md-6 p-offset-1 p-p-4">
            <p class="headTitle"><i class="pi pi-envelope" style="font-size: 1.5rem"></i>&nbsp; | &nbsp;ข้อมูลจัดส่ง</p>
        </div>
        <div class="p-col-12 p-md-2 p-offset-2 p-p-4">
            <button type="submit" pButton label="เพิ่มที่อยู่จัดส่ง" class="p-button-raised"
            routerLink="../address"></button>
        </div>
    </div>
    <br>
    <div *ngFor="let item of dataSource; let i = index">
        <div class="p-grid card-space">
            <div class="p-col-10 p-offset-1">
                <div class="p-shadow-6">
                    <p-card>
                        <div class="p-grid p-card-body">
                            <div class="p-col-12 p-md-7 p-offset-1 p-p-4">
                                <p> {{item.firstname}} {{item.lastname}}: {{item.address}} {{item.amphures_id}}</p>
                            </div>
                            <div class="p-col-12 p-md-3 p-offset-1 p-p-4">
                                <button routerLink="../editaddress" (click)="onClickSubmit(item.address_id)" pButton pRipple
                                    label="แก้ไข" class="p-mr-2 p-mb-2"></button>
                                <button pButton pRipple label="ลบ" icon="pi pi-trash" (click)="onClickDelete(item.address_id)" class="p-mr-2 p-mb-2"></button>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</body>
<br><br>