<body class="inbd">

    <body class="inbd">
        <br><br>
        <div class="p-grid">
            <div class="p-col-1"></div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <p-panel>
                    <p-header>
                        &nbsp;<b><p><i class="pi pi-id-card" style="font-size: 1.5rem"></i>&nbsp; | &nbsp;ข้อมูลบัญชีผู้ใช้</p></b>
                    </p-header>
                    <!-- Content -->
                    <div class="p-grid">
                        <div class="p-col-11 p-offset-1">
                            <b><p>อีเมล์ผู้ใช้</p></b>
                            <p>{{dataForm[0].email}}</p>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-11 p-offset-1">
                            <b><p>ชื่อ - นามสกุล</p></b>
                            <p>{{dataForm[0].name_title}}&nbsp;&nbsp;{{dataForm[0].firstname}}&nbsp;&nbsp;{{dataForm[0].lastname}}</p>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-11 p-offset-1">
                            <b><p>ที่อยู่</p></b>
                            <p>{{dataForm[0].address}}&nbsp;&nbsp;ตำบล {{dataForm[0].sub_district}}&nbsp;&nbsp;อำเภอ {{dataForm[0].district}}&nbsp;&nbsp;จังหวัด {{dataForm[0].province}}&nbsp;&nbsp;รหัสไปรษณี {{dataForm[0].postal_code}}</p>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-11 p-offset-10 w-100">
                            <button type="submit" pButton label="แก้ไขบัญชีผู้ใช้" routerLink="/editprofile" class="p-button-raised p-warning"></button>
                        </div>
                    </div>
                </p-panel>
                <br><br><br><br>
            </div>
        </div>

    </div>
</body>