<body class="inbd">

    <div class="p-grid">
        <div class="p-col-1"></div>
        <div class="p-col-12 p-md-4 p-lg-4">
            <img src="../../../assets/tcru-image.jpg" class="p-d-block p-mx-auto logo-login">
        </div>
        <div class="p-col-1 p-md-1 p-lg-1"></div>
        <div class="p-col-12 p-md-5 p-lg-5">


            <div class="p-d-flex p-jc-center">

                <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                    <div class="p-inputgroup">
                        <div class="p-field">
                            <label for="name_title">คำนำหน้า</label>
                            <p>{{dataForm[0].name_title}}</p>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                    <div class="p-inputgroup">
                        <div class="p-field">
                            <label for="firstname">ชื่อ</label>
                            <p>{{dataForm[0].firstname}}</p>
                        </div>
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                    <div class="p-inputgroup">
                        <div class="p-field">
                            <label for="firstname">นามสกุล</label>
                            <p>{{dataForm[0].lastname}}</p>
                        </div>
                    </div>
                </div>


            </div>



            <div class="p-d-flex p-jc-center">
                <div class="p-col-12 p-md-6 p-sm-6 form-group border-filed p-input-filled">
                    <div class="p-inputgroup">
                        <div class="p-field">
                            <label for="firstname">เบอร์โทรศัพท์</label>
                            <p>{{dataForm[0].telephone}}</p>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6 w-100 form-group">
                    <button type="submit" pButton label="แก้ไขบัญชีผู้ใช้" routerLink="/editprofile"
                        class="p-button-raised"></button>
                </div>
            </div>











        </div>

    </div>
</body>