<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">


    <form [formGroup]=reactiveForm>


        <div class="p-d-flex p-jc-center">

            <div class="p-col-12 p-md-3 p-sm-6 form-group border-filed p-input-filled">
                <div class="p-inputgroup">
                    <div class="p-field">
                        <label for="firstname">ชื่อ (ภาษาไทย)</label>
                        <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                            formControlName="firstname" required aria-describedby="firstname-help" />
                        <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                            พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร</small>
                    </div>
                </div>
            </div>
            <div class="p-col-12 p-md-3 p-sm-6 form-group border-filed p-input-filled">
                <div class="p-inputgroup">
                    <div class="p-field">
                        <label for="firstname">ชื่อ (ภาษาไทย)</label>
                        <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                            formControlName="lastname" required aria-describedby="firstname-help" />
                        <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                            พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร</small>
                    </div>
                </div>
            </div>

        </div>

        <div class="p-d-flex p-jc-center">

            <div class="p-col-12 p-md-3 p-sm-6 form-group border-filed p-input-filled">
                <div class="p-inputgroup">
                    <div class="p-field">
                        <label for="telephone">เบอร์โทรศัพท์</label>
                        <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                            formControlName="telephone" required aria-describedby="firstname-help" />
                        <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                            พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร-----------------------------------</small>
                    </div>
                </div>
            </div>

            <div class="p-col-12 p-md-3 p-sm-6 form-group border-filed p-input-filled">
                <div class="p-inputgroup">
                    <div class="p-field">
                        <label for="address">ที่อยู่จัดส่งสินค้า</label>
                        <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                            formControlName="address" required aria-describedby="firstname-help" />
                        <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                            พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร-----------------------------------</small>
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group">
            <label>จังหวัด</label>
            <select class="form-control" name="province" (change)="getAumph($event)">
                <option value="">เลือกจังหวัด</option>
                <option *ngFor="let obj of provinceArr" value="{{obj.id}}">{{obj.name_th}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>อำเภอ</label>
            <select class="form-control" name="amphure" (change)="getDistr($event)">
                <option value="">เลือกอำเภอ</option>
                <option *ngFor="let obj of aumphureArr" value="{{obj.id}}">{{obj.name_th}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>ตำบล</label>
            <select class="form-control" name="district" (change)="getLast($event)">
                <option value="">เลือกตำบล</option>
                <option *ngFor="let obj of districtArr" value="{{obj.id}}">{{obj.name_th}}</option>
            </select>
        </div>

        <div class="p-col-12 p-md-3 p-sm-6 form-group border-filed p-input-filled">
            <div class="p-inputgroup">
                <div class="p-field">
                    <label for="postal_code">รหัสไปรษณีย์</label>
                    <input type="text" id="password" pInputText class="p-inputtext-sm form-control w-100"
                        formControlName="postal_code" required aria-describedby="firstname-help" />
                    <a class="text-danger">*</a><small id="password-help">โปรดกรอกรหัสผ่านด้วย a-z
                        พิมพ์เล็กหรือพิมพ์ใหญ่หรือตัวเลข 6-16 ตัวอักษร-----------------------------------</small>
                </div>
            </div>
        </div>
        <br>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-6 form-group">
                <button type="submit" pButton label="บันทึก" (click)="onClickSubmit()" routerLink="../showaddress"
                    class="p-button-raised"></button>
            </div>
        </div>












    </form>































</div>