<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="p-d-flex p-jc-center">
    <ul>
        <p>ข้อมูลใบกำกับภาษี</p>
        <button type="submit" pButton label="เพิ่มใบกำกับภาษี" class="p-button-raised"
            routerLink="../inserttax"></button>
        <li *ngFor="let item of dataSource; let i = index">
            <p-card>
                <p>ที่อยู่ {{item.company_name}}</p>
                <!-- อันนี้จะทำลิ้งไปหน้าแก้ไข (แก้ subject ใน service จาก insert ไปใช้ใน edit) -->
                <button pButton pRipple label="แก้ไข"></button>
                <button pButton pRipple label="ลบ" icon="pi pi-trash" (click)="onClickDelete(item.tax_id)"></button>
            </p-card>
        </li>
    </ul>
</div>