<br><br>
<body class="inbd">
    <div class="p-grid p-card-body">
        <div class="p-col-12 p-md-6 p-offset-1 p-p-4">
            <p class="headTitle"><i class="pi pi-book" style="font-size: 1.5rem"></i>&nbsp; | &nbsp;ข้อมูลใบกำกับภาษี</p>
        </div>
        <div class="p-col-12 p-md-2 p-offset-2 p-p-4">
            <button type="submit" pButton label="เพิ่มใบกำกับภาษี" class="p-button-raised"
            routerLink="../inserttax"></button>
        </div>
    </div>
    <br>
    <div *ngFor="let item of dataSource; let i = index">
        <div class="p-grid card-space">
            <div class="p-col-10 p-offset-1">
                <div class="p-shadow-6">
                    <p-card>
                        <div class="p-grid p-card-body">
                            <div class="p-col-12 p-md-7 p-offset-1 p-p-4">
                                <p>ที่อยู่ {{item.company_name}}</p>
                            </div>
                            <div class="p-col-12 p-md-3 p-offset-1 p-p-4">
                                <button pButton pRipple label="แก้ไข" routerLink="../edittax"
                                    (click)="onClickEdit(item.tax_id)" class="p-mr-2 p-mb-2"></button>
                                <button pButton pRipple label="ลบ" icon="pi pi-trash" (click)="onClickDelete(item.tax_id)" class="p-mr-2 p-mb-2"></button>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</body>
<br><br>








<!-- <br>
<br>
<br>
<br>
<br>
<br>
<div class="p-d-flex p-jc-center">
    <ul>
        <p>ข้อมูลใบกำกับภาษี</p>
        <button type="submit" pButton label="เพิ่มใบกำกับภาษี" class="p-button-raised"
            routerLink="../inserttax"></button>
        <li *ngFor="let item of dataSource; let i = index">
            <p-card>
                <p>ที่อยู่ {{item.company_name}}</p>
                <button pButton pRipple label="แก้ไข" routerLink="../edittax"
                    (click)="onClickEdit(item.tax_id)"></button>
                <button pButton pRipple label="ลบ" icon="pi pi-trash" (click)="onClickDelete(item.tax_id)"></button>
            </p-card>
        </li>
    </ul>
</div> -->