<form [formGroup]=reactiveForm>

    <body class="indb" style="padding-top: 4rem;">
        <br><br>
        <div class="p-grid">
            <div class="p-col-12 p-offset-1">
                <p class="headTitle"><i class="pi pi-sign-in" style="font-size: 2rem"></i> &nbsp;| &nbsp;เข้าสู่ระบบ</p>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-4 p-lg-4 p-offset-1">
                <img src="../../../assets/tcru-image.jpg" class="p-d-block p-mx-auto logo-login">
            </div>
            <div class="p-col-1 p-md-1 p-lg-1"></div>
            <div class="p-col-12 p-md-5 p-lg-5">
                <div class="p-fluid p-grid">
                    <div class="p-col-10 form-group border-filed p-input-filled p-field">
                        <label>ชื่อผู้ใช้</label>
                        <input type="email" name="email" class="form-control w-100" id="inputEmail3" placeholder="Email"
                            formControlName="email" pattern="[a-zA-Z0-9][A-Za-z0-9._-]+@[a-z0-9.-]*" required>
                    </div>
                </div>

                <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.pattern">โปรดกรอกอีเมลล์ให้ถูกต้อง</div>
                    <div *ngIf="email.errors['required']">โปรดกรอกชื่อผู้ใช้</div>
                </div>



                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-10 form-group border-filed p-input-filled">
                        <label>รหัสผ่าน</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password"
                            minlength="6" maxlength="16" required>
                    </div>
                </div>
                <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors['required']">โปรดกรอกรหัสผ่าน</div>

                    <div *ngIf="password.errors.minlength">
                        รหัสผ่านควรมากกว่า6ตัว
                    </div>
                    <div *ngIf="password.errors.maxlength">
                        รหัสผ่านควรไม่เกิน16ตัว
                    </div>
                </div>
                <div class="text-danger" *ngIf="LoginError">
                    ชื่อผู้ใช้หรือรหัสผ่านไม่ถูกต้อง
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-col-12 p-md-6 p-lg-6 p-offset-8">
                        <small routerLink="/login/resetpassword">ลืมรหัสผ่าน</small>
                    </div>

                </div>
                <br>
                <div class="p-grid">
                    <div class="p-col-12 p-md-6 p-lg-6 form-group">
                        <button type="submit" pButton label="เข้าสู่ระบบ" (click)="onClickSubmit()"
                            [disabled]="!reactiveForm.valid">
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </body>
</form>
<br><br><br><br>



<!-- <div class="text-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
    <div *ngIf="username.errors.pattern">
        ชื่อผู้ใช้ประกอบไปด้วยa-z พิมพ์เล็กหรือพิมพ์ใหญ่
    </div>
    <div *ngIf="username.errors['required']">โปรดกรอกอีเมล</div>
</div> -->